MQTT_client/node-red_flow/flow_recognitionFeature.json
[
    {
        "id": "e0ab550b266f43d2",
        "type": "mqtt in",
        "z": "28f74172b6e388cf",
        "name": "",
        "topic": "/esp32-mqtt/temp",
        "qos": "0",
        "datatype": "auto",
        "broker": "e133abd24b24eed8",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 360,
        "y": 160,
        "wires": [
            [
                "99856068da4235c7"
            ]
        ]
    },
    {
        "id": "99856068da4235c7",
        "type": "function",
        "z": "28f74172b6e388cf",
        "name": "Parse JSON",
        "func": "var modifiedPayload = msg.payload.replace(/nan/g, 'null');\nvar data;\n\ntry {\n    data = JSON.parse(modifiedPayload);\n} catch (e) {\n    node.error('Error parsing JSON payload: ' + e);\n    return null;\n}\n\nvar name_device = data.n;\nvar id;\nvar temperature = data.temperature;\n\nif (name_device == \"ESP32suhu_409151997F20\") {\n    id = 1\n}\nmsg.payload = {\n    id: id,\n    temperature: temperature\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 160,
        "wires": [
            [
                "db7aa606b5a29855",
                "56231b455d9b3f77",
                "4b8c1982223bccff"
            ]
        ]
    },
    {
        "id": "db7aa606b5a29855",
        "type": "debug",
        "z": "28f74172b6e388cf",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 160,
        "wires": []
    },
    {
        "id": "72e15267335fd5cf",
        "type": "debug",
        "z": "28f74172b6e388cf",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 320,
        "wires": []
    },
    {
        "id": "56231b455d9b3f77",
        "type": "function",
        "z": "28f74172b6e388cf",
        "name": "Parse JSON",
        "func": "var data = msg.payload;\nvar temperature = data.temperature;\n\nmsg.payload = temperature;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 400,
        "wires": [
            [
                "1e40a00b783bc37f",
                "80e5fe212b1506fd",
                "72e15267335fd5cf"
            ]
        ]
    },
    {
        "id": "1e40a00b783bc37f",
        "type": "ui_gauge",
        "z": "28f74172b6e388cf",
        "name": "",
        "group": "8ac898374451ab2e",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Suhu",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 690,
        "y": 460,
        "wires": []
    },
    {
        "id": "80e5fe212b1506fd",
        "type": "ui_chart",
        "z": "28f74172b6e388cf",
        "name": "",
        "group": "8ac898374451ab2e",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 670,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "530eda88e04f612b",
        "type": "function",
        "z": "28f74172b6e388cf",
        "name": "Extract Data",
        "func": "var id = msg.payload.id;\nvar temperature = msg.payload.temperature;\n\n// Create an array of queries\nvar queries = [\n    {\n        query: 'INSERT INTO messages (id_device, suhu)' + 'VALUES ($id_device, $suhu)',\n        params: {\n            id_device: id,\n            suhu: temperature,\n        },\n        output: true,\n    },\n];\n\nmsg.payload = queries;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "ae703b5ab36df4b6",
        "type": "debug",
        "z": "28f74172b6e388cf",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 140,
        "wires": []
    },
    {
        "id": "160cfb5c829c0a7e",
        "type": "debug",
        "z": "28f74172b6e388cf",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1160,
        "y": 80,
        "wires": []
    },
    {
        "id": "4b8c1982223bccff",
        "type": "function",
        "z": "28f74172b6e388cf",
        "name": "Parse JSON",
        "func": "var data = msg.payload;\nvar id = data.id;\nvar temperature = data.temperature;\n\nmsg.params = [id, temperature];\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 80,
        "wires": [
            [
                "c50cf8cbdcd38705",
                "ae703b5ab36df4b6"
            ]
        ]
    },
    {
        "id": "c50cf8cbdcd38705",
        "type": "postgresql",
        "z": "28f74172b6e388cf",
        "name": "",
        "query": "INSERT INTO messages (id_device, suhu) VALUES ($1, $2);",
        "postgreSQLConfig": "686ee02c.306a",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 970,
        "y": 80,
        "wires": [
            [
                "160cfb5c829c0a7e"
            ]
        ]
    },
    {
        "id": "e133abd24b24eed8",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "8ac898374451ab2e",
        "type": "ui_group",
        "name": "DHT11 Suhu",
        "tab": "1be8510ac317954f",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": "dashboard"
    },
    {
        "id": "1be8510ac317954f",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
